langchain==0.3.30
langchain-core==0.3.86
langchain-openai==0.3.35
langchain-community==0.3.31
langchain-text-splitters==0.3.11
openai==2.36.0
faiss-cpu==1.13.0
pypdf==6.11.0
python-dotenv==1.2.1
streamlit==1.50.0